<div ng-init=" showUser() ;  getUsers(); showSelectedUser();">
    <a href="#!/dashboard">Dashboard</a> <button ng-click='logout()'>Logout</button>
    <h1>Hi {{thisUser.first_name}}  {{thisUser.last_name}}</h1>

    <div>


        <h3>USER: <span ng-bind="selectedUser.first_name"></span>  <span ng-bind="selectedUser.last_name"></span></h3>
        <h5>Topics: <span ng-bind="selectedUser.topics.length"></h5>
          <h5>Posts: <span ng-bind="selectedUser.posts.length"></h5>
            
              <h5>Coments: <span ng-bind="selectedUser.comments.length"></h5>
    </div>
</div>